@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');


* {
    outline: 1px solid rgba(0, 0, 255, 0.5);
}


/* General styles */

:root {

    /* fonts */
    --main-font: 'Roboto', serif;

    /* colours */

    /* Utils */

    --small-box-shadow: 1 -1px 7px 0 rgba(0, 0, 0, 0.967);
    border: 1px solid black;
}




/* Header */
.navbar {

    background-color: white;


}

a.nav-link {

    color: black;
    box-shadow: var(--small-box-shadow);

}



/* Main */


html,
body {

    height: 100%;

}

body {

    display: flex;
    flex-direction: column;
    font-family: var(--main-font);

}

main {

    flex: 1 0 auto;
    background-color: white;


}




/* Footer */

footer {

    flex-shrink: 0;
    background-color: rgb(248 249 250);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);


}

.social-icons {

    height: 0.1rem;
    width: auto;
    margin: 1rem;

}


img.logo {

    width: 5rem;
  

}

.active {

    border-bottom: 2px solid var(--blue);

    font-weight: 500;

}

/* Form */

.form {

    width: 100%;

    margin: 3% auto;

    box-shadow: var(--small-box-shadow);
    border-radius: 5px;

}