/* Main website font */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}




/* General styles */

:root {

    /* fonts */
    --main-font: 'Exo', sans-serif;

    /* colours */



    --small-box-shadow: 1 -1px 7px 0 rgba(0, 0, 0, 0.967);
    border: 1px solid black;
}


html,
body {

    height: 100%;

}

body {

    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    padding-top: 126px;
}

 

/* Header-----------------------------------------------------------------------------------> */
.navbar {

    background-color: #000000cf;
    box-shadow: 0 8px 6px -6px #999;


}

/* Nav Links */

a.nav-link {
    color: white;
    text-decoration: none; 
    box-shadow: var(--small-box-shadow);


    transition: color 0.2s ease, text-decoration 0.2s ease;  
}

a.nav-link:hover {
    color: #10B981;
    text-decoration: underline;  
    font-weight: 500;
}

a.nav-link:active, 
a.nav-link:visited {
    color: #ffffff; 
}



a.nav-link {

    color: white;
    box-shadow: var(--small-box-shadow);

}

a.nav-link:hover {


    color: #10B981;
    font-weight: 500;

}



.search-and-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-review-button {
    margin-right: 10px;
}

.search-form {
    margin-left: 10px;
}


/* Checkbox */

.navbar-toggler {

    background-color: white;



}


/* Playpoint Icon ----------------------------------------------------------------------------------->*/
a.navbar-brand img.logo {

    width: 7rem;


}


a.navbar-brand img.logo:hover {

    transform: scale(1.2);
    transition: transform 0.3s ease
}


.logo-alt-icon:hover {

    display: none;
    transform: scale(1.2);
}

.logo-title {

    display: none;

}



/* Main ----------------------------------------------------------------------------------->*/


main {

    flex: 1 0 auto;
    background-color: white;


}



/* Footer ----------------------------------------------------------------------------------->*/


footer {
    position: relative;
    z-index: 1;
    background: #000000;

    padding: 20px;
    margin-top: 30px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;

    /* Border thickness */
    width: 100%;
    background: linear-gradient(90deg,
            red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    animation: rainbow-flow 6s linear infinite;
}

/* Keyframes for footer border animation */
@keyframes rainbow-flow {
    0% {
        background-position: 0% 50%;

    }

    100% {

        background-position: 100% 50%;
    }
}


.footer-logo {

    width: 3rem;

    color: #ffffff;

}

.social-icons-container a {
    color: #ffffff;

    font-size: 2rem;
    padding: 10px;

}

.fa-youtube:hover {
    color: #cc1313;
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;

}

.fa-linkedin-in:hover {
    color: #0077b5;
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;


}

.fa-github:hover {

    color: #333030;
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;
}


.links-container {

    color: #ffffff

}



.copyright {

    color: #ffffff;
}


/* Sign in/up Form */




.form {

    width: 100%;

    margin: 3% auto;

    box-shadow: var(--small-box-shadow);
    border-radius: 5px;

}




/* Hiding sigh up fields */


/* Forgot password */

#id_password_helptext {


    display: none;
}


#div_id_remember {


    display: none;
}