@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');


* {
    /* outline: 1px solid rgba(0, 0, 255, 0.5); */
}


/* General styles */

:root {

    /* fonts */
    --main-font: 'Roboto', serif;

    /* colours */

    /* Utils */

    --small-box-shadow: 1 -1px 7px 0 rgba(0, 0, 0, 0.967);
    border: 1px solid black;
}




/* Header-----------------------------------------------------------------------------------> */
.navbar {

    background-color: rgba(22, 21, 21, 0.8);
    box-shadow: 0 8px 6px -6px #999;


}

/* Nav Links */

a.nav-link {

    color: white;
    box-shadow: var(--small-box-shadow);

}

a.nav-link:hover {

    text-decoration: underline;
    color: #10B981;
    font-weight: 500;

}



.search-and-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-review-button {
    margin-right: 10px;
}

.search-form {
    margin-left: 10px;
}


/* Checkbox */

.navbar-toggler {

    background-color: white;



}


/* Playpoint Icon ----------------------------------------------------------------------------------->*/
a.navbar-brand img.logo {

    width: 7rem;


}


a.navbar-brand img.logo:hover {

    transform: scale(1.2);


}


.logo-alt-icon:hover {

    display: none;
    transform: scale(1.2);
}

.logo-title {

    display: none;

}



/* Main ----------------------------------------------------------------------------------->*/


html,
body {

    height: 100%;

}

body {

    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    padding-top: 120px;
}

main {

    flex: 1 0 auto;
    background-color: white;


}




/* Footer ----------------------------------------------------------------------------------->*/

footer {

    border-image: linear-gradient(90deg,
            #3B82F6 20%,
            #3B82F6 20%,
            #EF4444 40%,
            #EF4444 40%,
            #FACC15 60%,
            #FACC15 60%,
            #10B981 80%,
            #10B981 80%,
            #EC4899 100%) 1;
    border-image-slice: 1;
    border-style: ridge;
    border-width: 8px 0 0;


    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1),
        inset 0px -4px 6px rgba(0, 0, 0, 0.1);

    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);


}

.footer-logo {

    width: 3rem;

}

.social-icons-container a {
    color: #343a40;

    font-size: 2rem;
    padding: 10px;

}

.fa-youtube:hover {
    color: #cc1313;
    transform: scale(1.2);


}

.fa-linkedin-in:hover {
    color: #0077b5;
    transform: scale(1.2);



}

.fa-github:hover {

    color: #181717;
    transform: scale(1.2);
}


/* Sign in/up Form */

.form {

    width: 100%;

    margin: 3% auto;

    box-shadow: var(--small-box-shadow);
    border-radius: 5px;

}


/* Media Queries ----------------------------------------------------------------------------------->*/

@media (min-width: 650px) and (max-width: 991px) {

    /* Alternative logo and title between 650px and 991px */
    a.navbar-brand img.logo {
        display: none;
    }

    .logo-alt-icon {
        display: block;
        width: 10rem;
    }

    .logo-title {
        display: block;
        width: 20rem;
    }
}

@media (max-width: 649px) {

    /* Navbar */
    /* Reverts back to initial logo for widths below 650px */
    a.navbar-brand img.logo {
        display: block;

        width: 7rem;

        margin-left: 50px;
    }

    .logo-alt-icon,
    .logo-title {
        display: none;

    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        /* Stacks items vertically */

        align-items: center;

        text-align: center;

    }

    footer .social-icons-container {
        order: 1;
        /* Move social icons to the top */
        margin-bottom: 1rem;
    }

    footer .links-container {
        order: 2;
        /* Place links in the middle */
        margin-bottom: 1rem;

        flex-direction: column;

        gap: 0.5rem;

    }

    footer .logo-copyright-container {

        order: 3;
        /* Place logo and copyright at the bottom in flexbox */
        margin-top: auto;

        text-align: center;

        padding-top: 1rem;
    }


    footer img {
        margin: 0 auto;

    }


}

@media (min-width: 992px) {

    .logo-alt-icon,
    .logo-title {

        display: none;
    }

    a.navbar-brand img.logo {

        display: block;
    }
}