{% load static %}

<footer>

    <!-- Social media icons -->

<div  class="social-icons">
    
    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static 'icons/github-icon.webp' %}" alt="Github Icon" class="social-icons" />
    </a>


    <a href="" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in new tab">
        <img src="{% static 'icons/linkedin-app-icon.webp' %}" alt="LinkedIn Icon" class="social-icons" />
    </a>


    <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
        <img src="{% static 'icons/youtube-color-icon.webp' %}" alt="YouTube Icon" class="social-icons" />
    </a>

</div>

</footer>