{% load static %}

<footer>

    <!-- Social media icons -->


    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="social-icon" />
    </a>


    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon" />
    </a>


    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static '/icons/youtube-square-color-icon.svg' %}" alt="YouTube Icon" class="social-icon" />
    </a>

    <p class="m-0 text-center text-white">Follow me: <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i>
    </p>

</footer>