{% extends "base.html" %}
{% load static %}
{% block title %}Edit Review{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Edit Review</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center mt-3">

            <a href="{% url 'review_detail' id=object.id %}">
                <button type="submit" class="btn btn-success">
                    Submit Changes
                </button>
            </a>

            <a href="{% url 'review_detail' id=object.id %}" class="btn btn-secondary w-45">Cancel</a>

        </div>
    </form>
</div>
{% endblock %}