{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Review Detail - {{ review.title }}{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="d-flex align-items-center justify-content-between bg-light rounded shadow-sm p-4">
        <!-- Game Image on the Left -->
        <div class="review-img me-4" style="flex-shrink: 0;">
            <img src="{{ review.images.url }}" alt="{{ review.image_alt }}" class="img-fluid" style="max-width: 250px;">
        </div>

        <!-- Review Details on the Right -->
        <div class="review-details">
            <h1>{{ review.title }}</h1>
            <p class="text-muted">
                <strong>Posted by {{ review.user }} on {{ review.posted_date|date:"F j, Y" }} </strong>
            </p>

            <hr>

            <p><strong>Genre: </strong>{{ review.genre }}</p>

            <p><strong>Platform: </strong>{{ review.game_platform }}</p>

            <p><strong>Console: </strong>{{ review.game_console }}</p>

            <p><strong>Score: </strong>{{ review.game_score }}/10</p>

            <p> <strong> Review: </strong> {{ review.review | safe }}</p>

            <!-- Edit and Delete Options for Author -->
            {% if request.user == review.user %}
            <div class="text-center mt-3">
                <a href="{% url 'edit_review' review.id %}" class="btn btn-primary w-25">Edit</a>
                <a href="{% url 'delete_review' review.id %}" class="btn btn-danger w-25">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Comments Section -->
    <div class="comments mt-5">
        <h2>Comments</h2>
        {% if review.comments.all %}
        <ul class="list-unstyled">
            {% for comment in review.comments.all %}
            <li class="mb-3">
                <strong>{{ comment.author }}</strong> said on {{ comment.created_on|date:"F j, Y, g:i a" }}:
                <p>{{ comment.body }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No comments yet. Be the first to comment!</p>
        {% endif %}

        <!-- Add Comment Form -->
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <textarea name="body" rows="4" class="form-control"
                    placeholder="Add a comment or even your own game score..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        {% else %}
        <p class="text-muted">You need to <a href="{% url 'login' %}" class="btn btn-warning">log in</a> to comment.</p>
        {% endif %}
    </div>
</div>
{% endblock %}