{% extends "base.html" %}
{% load static %}

{% block title %}Reviews{% endblock %}

{% block content %}

<h1 class="text-center p-2 d-block">
    <u>Review Library</u>
</h1>

<hr>

<!-- Review Cards List -->
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for review in reviews %}
    <a href="{% url 'review_detail' review.id %}" class="reviews" aria-label="Click to view {{ review.title }}">
        <div class="card m-3 game-card-body">
            <div class="image-flash">
                <p class="author">Author: {{ review.user }}</p>
            </div>
            {% if review.images %}
            <img src="{{ review.images.url }}" alt="{{ review.image_alt }}" class="card-img-top">
            {% else %}
            <img src="{% static 'images/Playpoint_logo_icon-removebg-preview.webp' %}" alt="Default image"
                class="card-img-top">
            <p>Default image</p>
            {% endif %}
            <div class="review-img-card">
                <div class="card-body">
                    <p class="card-title game-title">{{ review.title }}</p>
                    <p class="card-text">{{ review.review|truncatechars:100 }}</p>
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <p>No reviews available.</p>
    {% endfor %}
</div>

<!-- Pagination Links for Reviews -->
<div class="pagination text-center mt-4">
    {% if reviews.has_previous %}
    <a href="?page=1" class="btn btn-secondary">&laquo; First</a>
    <a href="?page={{ reviews.previous_page_number }}" class="btn btn-secondary">Previous</a>
    {% endif %}

    <span class="current">
        Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
    </span>

    {% if reviews.has_next %}
    <a href="?page={{ reviews.next_page_number }}" class="btn btn-secondary">Next</a>
    <a href="?page={{ reviews.paginator.num_pages }}" class="btn btn-secondary">Last &raquo;</a>
    {% endif %}
</div>

{% endblock %}